* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monsteratt', sans-serif;
}

.App {
  background-image: url('assets/vecteezy_beautiful-blue-mountain-silhouette-landscape-with-fog-and_7162558.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

main {
  min-height: 100vh;
}